<a href="https://colab.research.google.com/github/jyotidabass/Simple-SQL-Project-Managing-a-Bank-Account/blob/main/Simple_SQL_Project_Managing_a_Bank%C2%A0Account.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import sqlite3
import pandas as pd

# Create a connection to the SQLite database
conn = sqlite3.connect(':memory:')

# Create tables
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE accounts (
        account_id INT PRIMARY KEY,
        account_name VARCHAR(255),
        balance DECIMAL(10, 2)
    )
''')

cursor.execute('''
    CREATE TABLE transactions (
        transaction_id INT PRIMARY KEY,
        account_id INT,
        transaction_date DATE,
        amount DECIMAL(10, 2),
        type VARCHAR(255),
        FOREIGN KEY (account_id) REFERENCES accounts(account_id)
    )
''')

# Insert dummy data
cursor.execute('''
    INSERT INTO accounts (account_id, account_name, balance) VALUES
        (1, 'John Doe', 1000.00),
        (2, 'Jane Doe', 500.00)
''')

cursor.execute('''
    INSERT INTO transactions (transaction_id, account_id, transaction_date, amount, type) VALUES
        (1, 1, '2022-01-01', 100.00, 'deposit'),
        (2, 1, '2022-01-02', -50.00, 'withdrawal'),
        (3, 2, '2022-01-03', 200.00, 'deposit')
''')

# Query to get the current balance of an account
cursor.execute('SELECT balance FROM accounts WHERE account_id = 1')
print(cursor.fetchone())

# Query to get the total amount of all deposits and withdrawals for an account
cursor.execute('''
    SELECT SUM(CASE WHEN type = 'deposit' THEN amount ELSE 0 END) AS total_deposits,
           SUM(CASE WHEN type = 'withdrawal' THEN amount ELSE 0 END) AS total_withdrawals
    FROM transactions WHERE account_id = 1
''')
print(cursor.fetchone())

# Close the connection
conn.close()

(1000,)
(100, -50)